
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>PKLST</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Khula|Open+Sans|Roboto|Lato|Raleway">

  <!-- VENDOR SCRIPTS -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>

  <!-- APPLICATION SCRIPTS -->
  <script src="/scripts/app.js"></script>

</head>

  <body>

    <h1>PKLST</h1>

    <div class="order-search-cont">
      <label for="order search">Order Number</label>
      <input type="text" name="order search" class="order-search-input" placeholder="scan order number">
      <button type="button" class="order-search-button">Find</button>
    </div>

  </body>

</html>
