
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>PKLST</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
  <link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Khula|Open+Sans|Roboto|Lato|Raleway|Material+Icons">
  <link rel="stylesheet" href="/styles/styles.css">

  <!-- VENDOR SCRIPTS -->
  <script src="https://use.fontawesome.com/7057d5c5dd.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>

  <!-- APPLICATION SCRIPTS -->
  <script src="/scripts/bundle.js"></script>
  <!-- <script src="/scripts/app.js"></script> -->

  <!-- FAVICON -->
  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">

</head>

  <body>

    <!-- navbar -->
    <header>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper blue-grey darken-3">
            <a class="brand-logo"><i class="large material-icons brand-logo-icon">check_box</i>PKLST</a>
          </div>
        </nav>
      </div>
    </header>
    <!-- navbar -->


    <!-- homepage content -->
    <main class="home-page" style="display: none;">

      <div class="container search-page-container">
        <div class="row search-row">
          <div class="col s6 offset-s3 order-search-label">
            Order Number
          </div>
          <div class="col s5 offset-s3">
            <div class="input-field">
              <input type="text" class="order-search-input" placeholder="scan order number">
            </div>
          </div>
          <div class="col s1">
            <button type="button" class="btn waves-effect grey darken-1 order-search-button">
              <i class="large material-icons center order-search-icon">search</i>
            </button>
          </div>
          <div class="col s6 offset-s3">
            <div class="alert-container">
              <div data-closable class="callout alert-callout-subtle alert">
                <strong>Error!</strong>  Alert Alert
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>
    <!-- homepage content -->


    <!-- pdf print page content -->
    <main class="pdf-print-page" style="display: none;">

      <div class="container">
        <div class="row">
          <div class="col s12 header-container">

            <a class="waves-effect waves-light grey darken-1 btn tooltipped print-button" data-position="top" data-delay="50" data-tooltip="Send PDF to the Default Printer"><i class="material-icons left">print</i>Print</a>
            <a class="waves-effect waves-light grey darken-1 btn continue-button"><i class="material-icons left">keyboard_tab</i>Continue</a>

          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col s12 iframe-container">
            <iframe class="pdf-frame" style="border:1px solid grey" title="PDF in an i-Frame" src="" frameborder="1" scrolling="auto" height="1100" width="850" align="center" >
            </iframe>
          </div>
        </div>
      </div>

    </main>
    <!-- pdf print page content -->


    <!-- image upload page content -->
    <main class="image-upload-page" style="display: none;">

      <div class="container">
        <div class="row">
          <div class="col s6 push-s3 header-container">

            <div class="file-field input-field">
              <div class="btn grey darken-1">
                <i class="material-icons left">image</i>
                <span>Select Image</span>
                <input class="file-picker" type="file" name="sampleFile">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col s12 image-container">
            <a class="waves-effect waves-light light-green darken-3 btn image-upload-button"><i class="material-icons left">save</i>Save & Continue</a>
            <img class="picked-items-image" src="#" alt=""/>
          </div>
        </div>

      </div>

    </main>
    <!-- image upload page content -->


    <!-- pick list page content -->
    <main class="picklist-page" style="display: none;">

      <div class="container item-search-container">
        <div class="row">

          <div class="col s12 order-search-label">
            <div class="pick-list-status">In Process</div>
          </div>

          <div class="col s12 order-search-label">
            Item Number
          </div>


          <div class="col s3">

            <div class="input-field">
              <input type="text" class="item-search-input" placeholder="scan item number">
            </div>

          </div>

          <div class="col s9">

            <button type="button" class="btn waves-effect grey darken-1 picklist-buttons item-pack-button">Pack
              <i class="large material-icons right" item-search-icon>file_download</i>
            </button>

            <button type="button" class="btn waves-effect grey darken-1 picklist-buttons item-unpack-button">Unpack
              <i class="large material-icons right" item-search-icon>file_upload</i>
            </button>

            <button type="button" class="btn waves-effect grey darken-1 picklist-buttons order-complete-button">Complete
              <i class="large material-icons right" item-search-icon>check_box</i>
            </button>

          </div>

          <div class="col s12">
            <div class="alert-container">
              <div data-closable class="callout alert-callout-subtle alert">
                <strong>Error!</strong>  Alert Alert
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="container pick-list-container">
        <div class="row pick-list-row">
          <div class="col s12 pick-list-column">
            <table class="highlight bordered">
              <thead>
                <tr>
                  <th style="text-align:center">Status</th>
                  <th>Item Number</th>
                  <th>Description</th>
                  <th style="text-align:center">Ordered Qty</th>
                  <th style="text-align:center">Picked Qty</th>
                </tr>
              </thead>

              <tbody class="table-body">


              </tbody>

            </table>
          </div>
        </div>
      </div>
    </main>
    <!-- pick list page content -->



    <!-- footer -->
    <footer class="page-footer blue-grey lighten-5">
      <div class="container footer-container">

        <i class="fa fa-file-text-o fa-2x footer-icon footer-page-1-icon" aria-hidden="true"></i>
        <a class="footer-text footer-page-1-text tooltipped" data-position="top" data-delay="50" data-tooltip="Pull up the order by scanning the order number on the traveller">Enter Order</a>
        <i class="fa fa-long-arrow-right fa-2x footer-arrow footer-page-1-arrow" aria-hidden="true"></i>

        <i class="fa fa-print fa-2x footer-icon footer-page-2-icon" aria-hidden="true"></i>
        <a class="footer-text footer-page-2-text tooltipped" data-position="top" data-delay="50" data-tooltip="Pull up the order by scanning the order number on the traveller">Print Pick List</a>
        <i class="fa fa-long-arrow-right fa-2x footer-arrow footer-page-2-arrow" aria-hidden="true"></i>

        <i class="fa fa-file-image-o fa-2x footer-icon footer-page-3-icon" aria-hidden="true"></i>
        <a class="footer-text footer-page-3-text tooltipped" data-position="top" data-delay="50" data-tooltip="Pull up the order by scanning the order number on the traveller">Upload Image</a>
        <i class="fa fa-long-arrow-right fa-2x footer-arrow footer-page-3-arrow" aria-hidden="true"></i>

        <i class="fa fa-check-square-o fa-2x footer-icon footer-page-4-icon" aria-hidden="true"></i>
        <a class="footer-text footer-page-4-text tooltipped" data-position="top" data-delay="50" data-tooltip="Pull up the order by scanning the order number on the traveller">Pick & Pack</a>
      </div>
    </footer>
    <!-- footer -->



    <!-- order completion confirmation modal -->
    <div id="modal1" class="modal order-complete-modal">
      <div class="modal-content">
        <h4 class="modal-header">Confirm Completion</h4>
        <p class="modal-text">Please double-check that all items have been packed into the box.  Click the complete button to confirm that the pick and pack process is complete, and the order status will be updated.</p>
      </div>
      <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat modal-cancel-button">Cancel</a>
        <a class="modal-action modal-close waves-effect waves-green btn-flat modal-complete-button">Complete</a>
      </div>
    </div>
    <!-- order completion confirmation modal -->


  </body>

</html>
