

/*****
Navbar
******/

.brand-logo-icon {
  color: #e3ecd4;
}


/****************
Order Search Page
****************/

.search-page-container {
  margin-top: 50px;
}

.order-search-label {
  font-size: 16px;
}

.search-row {
  margin-top: 150px;
}

.order-search-button {
  height: 47px;
  margin-top: 14px;
  display: inline-block;
}


/*********
Print Page
**********/

.header-container {
  margin-top: 100px;
  text-align: center;
}

.iframe-container {
  margin-top: 50px;
  text-align: center;
  width: 100%;
}


/****************
Image Upload Page
****************/

.image-container {
  margin-top: 20px;
  text-align: center;
}

.image-upload-button {
  height: 45px;
  padding-top: 5px;
  margin-bottom: 50px;
  visibility: hidden;
}

.picked-items-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-bottom: 200px;
  visibility: visible;
}


/*************
Pick List Page
*************/

.item-search-container {
  margin-top: 30px;
}

.pick-list-status {
  padding: 10px;
  text-align: center;
  margin-bottom: 30px;
}

.picklist-buttons {
  margin-top: 25px;
}

.order-complete-button {
  visibility: hidden;
}

.pick-list-column {
  margin-bottom: 200px;
}

.item-search-icon {
  font-size: 25px;
  padding-top: 2px;
}

.pick-status-icon {
  color: red;
}

nav .brand-logo {
  margin: 0 30px;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
}

.nav-wrapper {
  background-color: black;
}

.fix-test {
  position: fixed;
  background-color: white;
}

.item-search-input {
  width: 100px;
}


/* ***
Footer
*****/

.page-footer {
  position: fixed;
  bottom: 0px;
  height: 100px;
  left: 0px;
  right: 0px;
  overflow: hidden;;
}

.footer-container {
  text-align: center;
  margin-top: 15px;
}

.footer-icon {
  color: grey;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: grey;
  margin: 10px;
}

.footer-arrow {
  color: grey;
  margin: 0 40px 0 25px;
}

.footer-text:hover {
  cursor: pointer;
}



/* ***********
Foundation CSS
*********** */

.callout {
  position: relative;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid rgba(10, 10, 10, 0.25);
  border-radius: 0;
  background-color: white;
  color: #0a0a0a;
}

.alert-callout-subtle {
  width: 100%;
  background: #e6e6e6;
  color: #8a8a8a;
  border: 0;
  border-left: 0.3125rem solid #8a8a8a;
  box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
}

.alert-callout-subtle.success {
  background: #e6e6e6;
  color: #8a8a8a;
  border-left: 0.3125rem solid #3adb76;
}

.alert-callout-subtle.alert {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: #e6e6e6;
  color: #8a8a8a;
  border-left: 0.3125rem solid #cc4b37;
  margin: 20px 0;
  visibility: visible;
  display: none;
}

.alert-callout-subtle.warning {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: #e6e6e6;
  color: #8a8a8a;
  border-left: 0.3125rem solid #ffae00;
  margin: 20px 0;
  visibility: visible;
  display: none;
}
